

/* GLOBAL */

html, body{
	background-color: #13131A;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin: 0;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	-webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
	display: none;
}

body::-webkit-scrollbar {
	display: none;
}

.body{
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
	cursor: inherit;
}

.link{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0%;
	right: 0;
	margin: auto;
	z-index: 999;
}




video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: -1%;
	z-index: 10;

	transition: 1.2s ease-in-out;
}

.video1{
	width: 100%;
    height: 111%;
    object-fit: cover;
		top: initial;
    bottom: 50px;
    position: absolute;
}






/* TERMS */
.intrro-ft{
	width: 100%;
	letter-spacing: 0.3px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	margin-top: 55px;
	margin-bottom: 15px;
	text-align: center;
	color: white;
	font-family: "Quicksand",sans-serif;
}

.intrro-ft:first-of-type{
	margin-top: 0;
}

.simple-ft{
	width: 100%;
	letter-spacing: 0.3px !important;
	font-size: 14px;
	font-weight: 500;
	line-height: 23px;
	margin: 0;
		margin-top: 10px;
		text-align: center;

	color: #999f9f !important;
}

.our-email{
	letter-spacing: 3px;
	margin-left: 0;
	filter: drop-shadow(0px 1px 11px #ffffff95);
	display: block;
	font-size: 14px !important; 
}

.simple-list-ft{
	margin: 0;
	letter-spacing: 0.3px !important;
	font-size: 12px !important;
	font-weight: 500;
	display: inline-block;
	width: 100%;
	line-height: 21px;
	padding-left: 17px;
	box-sizing: border-box;
	margin-top: 10px;
	text-align: center;

	color: #999f9f !important;
}


.ft{
	font-weight: 700;
	font-size: 13px;

	color: white !important;
}






/* Header */

header{
	width: 100%;
	z-index: 10;
}

.header-plh{
	/* width: 100%;
	height: 65px; */
}

.header-content-fixed{
	width: 100%;
	height: 65px;
	position: relative;
	left: 0;
	top: 0;
	z-index: 10;
	/* background-color: rgb(19 19 27 / 97%);
	backdrop-filter: blur(6px); */

	/* position: fixed; */
	/* background-color: #13131b; */
	z-index: 998;
}

.header-content {
	max-width: 840px;
	min-width: 840px;
	height: 65px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	position: relative;
}

.header-content-mini{
	max-width: 640px;
	min-width: 640px;
}

.logo-plh{
	display: flex;
}

.logo-plh-btns{
	height: fit-content;
	margin: auto;
	margin-right: 0;
	display: flex;
}

.logo{
	height: 48px;
	width: 48px;
	background: url(./icons/logo2.svg) 50%/cover no-repeat;
	background-size: 42px;
	margin: auto 0;
}

.header-icons{
	height: 44px;
    width: 44px;
    background: url(./icons/applee.svg) 50%/cover no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 18px;
    background-color: black;
    border-radius: 16px;
    margin: auto 0;

		filter: drop-shadow(0px 1px 12px #ffffff09);
	}

.header-android-icon{
	background: url(./icons/android.svg) 50%/cover no-repeat;
	background-position: center;
	background-position-y: 15px;
	background-size: 22px;
	background-color: black;
	margin-left: 26px;
}

.logo-text{
	font-family: "Quicksand",sans-serif;
    letter-spacing: 3px;
    font-size: 19px;
    line-height: 64px;
    font-weight: 900;
    margin-left: 10px;
    color: #fff;
}

.get-apple-plh{
	display: flex;
}

.get-emoji{
	position: relative;
	right: 0;
	height: 40px;
    width: 40px;
    margin: auto;
    margin-right: 0;
		background: url(./icons/get-emoji.png) 50%/cover no-repeat;
		background-size: 35px;

		margin-right: 26px;
}

.get-app-btn{
	background-color: black;
    width: 125px;
    height: 44px;
    border-radius: 12px;
    margin: auto;
    margin-left: 15px;
		position: relative;
    display: flex;		
}

.get-apple{
	margin: auto;
    width: 119px;
    height: 42px;
    background: url(./icons/apple.svg) 50%/cover no-repeat;
    background-size: 132px;
    transform: scale(0.9);
    top: 0;
    bottom: 0;
}

.get-app-btn-2{
	width: 121px;
}

.get-google{
	margin: auto;
	width: 155px;
	height: 32px;
	background: url(./icons/google.png) 50%/cover no-repeat;
	background-size: 124px;
		transform: scale(0.9);
	top: 0;
	bottom: 0;
}

.main-content-plh{
	max-width: 840px;
	min-width: 840px;
	margin: auto;
}

.main-content{
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 40px;
	box-sizing: border-box;
	padding: 28px;
	background-color: #1c1c24;
}

.main-content-plh-mini{
	max-width: 640px;
	min-width: 640px;
}

.main-content-mini{
	padding: 28px 58px;
}

.big-banner{
	position: relative;
    width: 100%;
		margin: 2px 0 0 0;
    box-sizing: border-box;
    border-radius: 30px 30px 24px 24px;
    display: flex;
    height: fit-content;
    flex-direction: column;
		overflow: hidden;

		background-color: #000;

}

.intro-text-plh{
	text-align: center;
    margin: 0 auto;
    bottom: 0;
    top: 0;
    height: fit-content;
    position: relative;
    margin-top: 80px;
    margin-bottom: 45px;
    width: 67%;
}

.intro-text{
	font-weight: 700;
    line-height: 45px;
    font-size: 28px;
		    letter-spacing: 2px;
    width: fit-content;
    margin: auto;

}

.intro-text-2{
	font-weight: 700;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 19px;
	color: #999f9f;
	letter-spacing: 2px;
	font-family: "Quicksand",sans-serif;
}

.video-row-plh{
	display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 95%;
    margin: auto;
}

.video-plh{
	width: 201px;
    height: 312px;
    left: 0;
    border-radius: 38px 38px 0 0;
    box-sizing: border-box;
		border: 13px solid #1c1c25;
    border-bottom: 0;
    margin: auto;
		background-color: #13131b;

		position: relative;
}

.video-plh-1{
	position: relative;
	bottom: -50px;
}

.video-plh-3{
	position: relative;
	bottom: -50px;
}

.pay-btn{
	position: absolute;
	height: fit-content;
	border-radius: 38px;
	z-index: 998;
	display: flex;
	transform: scale(0.85);
	padding: 11px 17px;
	background: white;
	filter: drop-shadow(0px 1px 10px #ffffff95);
	font-size: 15px;
	font-weight: 800;
	color: black;
	line-height: 24px;
	letter-spacing: 2px;
	margin: 0;

	right: -19%;
	top: 15%;
}





.pay-btn-1{
	right: inherit;
	left: -20%;
	top: 28%;
}

.pay-btn-3{
	right: -20%;
	top: 37%;
}

.pay-btn span{
	color: #9e9e9e;
    font-weight: 700;
		margin-left: 6px;
		font-family: "Quicksand",sans-serif;

}

.currency{
	position: absolute;
	right: 17.3px;
}

.bottom-arrow{
	position: absolute;
	height: 28px;
	width: 46px;
	bottom: -13px;
	right: 0;
	left: 0;
	margin: auto;
	background: url(./icons/pay-bottom-arrow.svg) 50%/cover no-repeat;
	background-position: center;
	background-size: 72px;
	background-position-y: 4px;
	background-repeat: no-repeat;
}

.small-banners-row{
	display: flex;
	justify-content: space-between;
	margin: 28px 0 0 0;
	width: 100%;
}

.small-banners-row-2{
	display: none;
}



.small-banner{
	height: auto;
    width: 31.2%;
    border-radius: 24px;
    position: relative;
    background: #000;
}

.small-banner-icon{
	height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 35px;
		background: url(./icons/add-play.svg) 50%/cover no-repeat;
		background-size: 39px;

    filter: drop-shadow(0px 1px 17px rgba(255,67,131,.99));


		height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 15px;
		margin-top: 55px;
}

.small-banner-icon-2{
	background: url(./icons/wow.png) 50%/cover no-repeat;
	background-size: 45px;
	filter: drop-shadow(0px 1px 14px rgba(255,231,144,.49));
}

.small-banner-icon-3{
	background: url(./icons/paypal3.svg) 50%/cover no-repeat;
	background-size: 33px;
	/* background-position-x: 19px; */
	filter: drop-shadow(0px 1px 27px rgba(123,156,256));
}

.small-banner-text{
	font-family: "Quicksand",sans-serif;
	font-weight: 700;
	line-height: 33px;
	font-size: 16px;
	text-align: center;
	padding: 0 40px;
	box-sizing: border-box;
	margin: 10px 0 50px;
	letter-spacing: 1px;
}

.small-banner-text span{
	font-weight: 900;
	text-shadow: 0 1px 13px rgb(255 0 97);
  color: #ff4383;
}

.small-banner-text .stories{
	font-weight: 900;
	text-shadow: 0 1px 13px rgb(255 238 178 / 82%);
	color: #ffe790;
}

.small-banner-text .fees{
	/* letter-spacing: 2px; */
	font-family: "Quicksand",sans-serif;
	font-weight: 700;
	display: block;
	text-shadow: inherit;
  color: white;
}

.free{
	font-family: "Quicksand",sans-serif;
	font-weight: 700;
	text-shadow: inherit;
  color: white;
}

.span-fees{
	font-family: "Quicksand",sans-serif;
	text-shadow: inherit !important;
  color: white !important;
}

.small-banner-text .paypal-1{
	font-weight: 900;
    text-shadow: 0 1px 9px #61d8ff;
		color: #7b9cff;
}

.small-banner-text .paypal-2{
	font-weight: 900;
	text-shadow: 0 1px 9px #61d8ff;
	color: #9cdbf1;
}




.video-real-plh{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 24px 24px 0 0;
	overflow: hidden;
	z-index: 20;

}














.get-emoji{
	animation-name: getEmoji;
	animation-duration: 1.4s;
	animation-iteration-count: 4;
	animation-delay: 5s;
}


@keyframes getEmoji {
  0% {
    right: 0;
  }
	50% {
    right: 12px;
  }
  100% {
    right: 0;
  }
}






/* 
.pay-btn-animation-1{
	animation-name: wave-animation;
	animation-duration: 2.4s;
	animation-iteration-count: 1;
}

.pay-btn-animation-2{
	animation-name: wave-animation2;
	animation-duration: 3.5s;
	animation-iteration-count: 1;
}

.pay-btn-animation-3{
	animation-name: wave-animation3;
	animation-duration: 4.4s;
	animation-iteration-count: 1;

}

@keyframes wave-animation {
  0% {
    transform: scale(0.50);
  }
	50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes wave-animation2 {
  0% {
    transform: scale(0.30);
  }
	50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes wave-animation3 {
  0% {
    transform: scale(0.20);
  }
	50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.85);
  }
} */







/* Join now row */

.join-now-row{
	width: 100%;
	height: 277px;
	border-radius: 24px;
	position: relative;
	background: #000;
	margin: 28px 0 0 0;

	overflow: hidden;
}

.iphone-mockup{
	height: 277px;
	width: 270px;
	margin: auto;
	background: url(./icons/ss-5.jpg) 50%/cover no-repeat;
	background-size: 200px !important;
	background-position: center;
	background-position-y: 25px;
	position: absolute;
	top: 0;
	left: 0;
}

.iphone-mockup-2{
	background: url(./icons/ss-7.jpg) 50%/cover no-repeat;
	right: 0;
	left: inherit;
	position: absolute;
	background-position-y: -123px;
}

.centered-action{
	position: absolute;
	height: fit-content;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 206px;
	z-index: 9;
}

.join-now-text{
	margin: 0;
	margin-bottom: 26px;
	font-family: "Quicksand",sans-serif;
	font-weight: 900;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	padding: 0 36px;
	box-sizing: border-box;
	letter-spacing: 3px;
}

.download-app-row{
	display: flex;
	width: 100%;
	justify-content: center;
}

.join-now-btns{
	height: 44px;
    width: 44px;
    background: url(./icons/applee-black.svg) 50%/cover no-repeat;
    background-position: center;
    background-position-y: 10px;
    background-size: 18px;
    border-radius: 16px;
    margin: auto 0;

    filter: drop-shadow(0px 1px 22px #ffffff70);
    background-color: white;
}

.join-now-btns-android{

		background: url(./icons/android-black.svg) 50%/cover no-repeat;
		background-position: center;
		background-position-y: 15px;
		background-size: 22px;
    background-color: white;
		/* margin-right: 16px; */
} 

.join-now-btns-placeholder{
	height: 44px;
	width: 44px;
}





/* Footer */

.footer{
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 35px 0;
    align-items: center;
}

.footer-icon{
	height: 44px;
	width: 44px;
	margin: auto 0;
	filter: drop-shadow(0px 1px 12px #ffffff09);
}

.instagram-icon{
	background: url(./icons/instagram.svg) 50%/cover no-repeat;
	background-position: center;
	background-size: 24px;
	background-color: black;
	border-radius: 16px;
}

.tiktok-icon{
	background: url(./icons/tiktok.svg) 50%/cover no-repeat;
	background-position: center;
	background-size: 22px;
	background-color: black;
	border-radius: 16px;

	margin-left: 26px;
}

.footer-text{
	font-weight: 600;
	line-height: 44px;
	font-size: 14px;
	color: white;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 0;
	height: fit-content;
	margin-left: 26px;
	padding: 10px 0px;
}

.copyright{
	color: #999f9f;
}









.footer-2-450{
	display: none;
}

.follow-us-plh{
	display: flex;
    align-items: center;
    width: 26.3%;
    flex-direction: column;
		justify-content: space-around;
		position: relative;
}

.insta{
	height: 44px;
    width: 48px;
    background: url(./icons/instagram.svg) 50%/cover no-repeat;
    background-size: 35px;
    margin: auto 0;
}

.tiktok{
	background: url(./icons/tiktok.svg) 50%/cover no-repeat;
    background-size: 35px;
}

.follows-us-text{
	font-weight: 600;
	line-height: 30px;
	font-size: 14px;
	color: white;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 10px;
}





/* TERMS */
.intro-to-terms{
	width: 100%;
}

.terms-icon{
	filter: drop-shadow(0px 1px 12px #ffffff09);
	height: 44px;
	width: 44px;
	border-radius: 16px;
	margin: 55px auto 26px auto;

	background: url(./icons/terms.svg) 50%/cover no-repeat;
	background-size: 26px;	

	background-color: black !important;
}

.support-icon{
	background: url(./icons/help.svg) 50%/cover no-repeat;
	background-size: 26px;	
}

.terms-text{
	width: 100%;
	letter-spacing: 2px;
	font-size: 23px;
	line-height: 43px;
	font-weight: 600;
	padding: 0 25px;
	text-align: center;
	box-sizing: border-box;

	margin-top: 0;
	margin-bottom: 50px;
	color: white;
}



.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: #13131A;
z-index: 998;
text-align: center;
display: initial;
transition: 0.1s ease-in-out;
display: flex;
align-items: center;
justify-content: center;
}

.preloader .logo{
	transform: scale(1.2);
}

@keyframes scalee
{
0% { transform: scale(1.2);}
50%{ transform: scale(1);}
100% { transform: scale(1.2);}
}

