

@media (hover: hover) and (pointer: fine) {
	.hover-icon-click{
		cursor: pointer;
		transition: 0.2s ease-in-out;
	}
	
	.hover-icon-click:hover{
		transform: scale(1.05);
	}
	
	.hover-icon-click:active{
		opacity: 0.5;
		transform: scale(0.95);
	}


	.text-btn-click{
		cursor: pointer;
	}

	.text-btn-click:active{
		opacity: 0.5;
	}


}



/* 900 */
@media screen and (max-width:900px) {
	.header-content{
		max-width: 90%;
    min-width: 90%;
	}

	.main-content-plh{
		max-width: 90%;
    min-width: 90%;
	}

	.video-plh{
		width: 28%;
    height: 33vw;
	}

	.intro-text-plh{
    text-align: center;
    bottom: 0;
    top: 0;
    height: fit-content;
    position: relative;
    width: 58%;
    margin: 90px auto 60px auto;
    z-index: 2;
	}

	.join-btn-plh{
    justify-content: center;
	}

	.moving-icon{
		height: 280px;
		width: 100%;
		left: 0;
		right: 0;
		margin: auto;
		bottom: inherit;
    top: 50px;
		z-index: 1;
		justify-content: center;
		display: flex;
	}

	.app-preview{
		height: 565px;
    width: 373px;
		position: relative;
		right: 0;
		top: 17px;
	}

	.iphone-video{
		width: 100%;
    height: 100%;
	}

	.joined-plh{
		display: none;
	}

	.big-banner{
		height: fit-content;
	}

	.get-btn-apple{
		width: 167px;
    justify-content: center;
    box-sizing: border-box;
	}

	.v-1{
		display: none;
	}

	.v-2{
		display: initial;
	}
}

/* 800 */
@media screen and (max-width:800px) {
	.intro-text-plh{
		width: 388px;
	}

	.iphone-mockup{
		opacity: 0;
	}

	.join-now-row{
		height: 240px;
	}
}

/* 768 */
@media screen and (max-width:768px) {
	.header-content{
		max-width: calc(100% - 44px);
    min-width: calc(100% - 44px);
}

	.main-content-plh{
		max-width: 100%;
    min-width: 100%;	
	}

	.main-content{
		padding: 22px;
		padding-bottom: 0;
		padding-top: 0;
		border-radius: 40px 40px 0 0;
		background-color: transparent;
	}

	.video-row-plh{
		width: 92%;
	}

	.video-plh{
		height: 34vw;
	}

	.small-banners-row{
		margin: 22px 0 0 0;
	}

	.join-now-row{
		margin: 22px 0 0 0;
	}
}


/* 650 */
@media screen and (max-width:650px) {
	.video-row-plh{
		width: 88%;
	}

	.video-plh{
    height: 39vw;
    width: 38%;
	}

	.small-banner{
		width: 48%;
	}

	.video-plh-1, .paypal-banner{
		display: none;
	}

	.small-banners-row-2{
		display: flex;
	}

	.small-banners-row-2 .video-plh-1{
		display: initial;
	}

	.small-banners-row-2  .paypal-banner{
		display: initial;
	}

	.small-banners-row-2 .small-banner{
		width: 100%;
		overflow: hidden;
	}

	.small-banner-text-2{
		margin: 40px auto 40px auto !important;
    padding: 0 !important;
    width: 188px !important;
}

	.video-plh-3{
		bottom: 0;
	}

	.pay-btn{
		top: 14%;
    left: -20%;
		right: initial;
	}

	.pay-btn-3 {
		right: -27%;
    top: 37%;
		left: initial;
}

.google{
	display: none;
}

.join-now-row{
	margin: 22px 0 0 0;
}

.iphone-mockup{
	background-size: 161px;
	width: 212px;
}

.iphone-mockup-2{
	background-size: 161px;
}

.eco-text-plh{
	width: 53%;
}

.eco-1{
	font-size: 21px;
}

.eco-2{
	font-size: 14px;
	line-height: 28px;
	margin-top: 8px;
}

.eco-emoji{
	right: 40px;
}

.seed-emoji{
	display: none;
}

.seed-emoji-650{
	display: initial;

	margin-right: 21px;
	filter: drop-shadow(0px 1px 11px rgba(86,199,0, 0.7));

}

.droplet-emoji{
	display: none;
}

.join-steps{
	width: 27%;
}

.step-description{
	font-size: 14px;
}

.easy-intro{
	font-size: 23px;
}
	
}

@media screen and (max-width:580px) {
	.join-now-row{
		height: fit-content;
	}

	.centered-action{
		display: block;
		position: relative;
		margin-top: 75px;
	}

	.iphone-mockup{
		width: 100%;
		display: block;
		position: relative;
		margin-top: 26px;
		background: url(./icons/ss-8.jpg) 50%/cover no-repeat;
		background-position-y: 0;
    background-size: 240px !important;
		opacity: 1;
    height: 427px;
	}

	.iphone-mockup-2{
		display: none;
	}

	.pay-btn{
		transform: scale(0.8);
	}

	.join-process{
		width: 199px;
		margin: 40px auto 40px auto;
	}

	.line-for-next-step{
		margin: 24px auto;
		flex: initial;
		width: 6px;
		height: 30px;
	}

	.motin-steps{
		top: 80%;
	}

	.join-process{
		flex-direction: column;
	}

	.join-steps{
		width: 100%;
	}
}


/* 550 */
@media screen and (max-width:550px) {

	.footer{
		padding: 25px 0;
	}

	.follow-us-plh{
		width: 50%;
	}

	.no-apple, .no-social{
		display: none;
	}

	.footer-2-450{
		display: flex;
	}

	.main-footer{
		height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    background-color: #1c1c24;
	}

	.tree-emoji{
		display: none;
	}

	.planet-emoji{
		margin: 0;
	}

	.eco-text-plh{
		width: 60%;
	}

}


/* 520 */
@media screen and (max-width:520px) {

	.main-content{
		padding: 18px;
		padding-bottom: 0;
		padding-top: 0;
	}

	/* .intro-text-plh{
    width: 261px;
    margin-top: 60px;
	} */

	.video-plh{
    height: 231px;
    width: 171px;
    border-radius: 28px 28px 0 0;
		border: 12px solid #1c1c25;
	}
	

	.video-real-plh{
		border-radius: 16px 16px 0 0;
	}

	.small-banners-row{
		margin: 20px 0 0 0;
	}

	.join-now-row{
		margin: 20px 0 0 0;
	}

	.video-plh-3{
		display: none;
	}

	.header-content{
		max-width: calc(100% - 36px);
    min-width: calc(100% - 36px);
	}

	.pay-btn{
		top: 20%;
    left: -21%;
	}

	.intro-text{
    line-height: 43px;
    font-size: 25px;
	}

	.intro-text-2{
    line-height: 33px;
    font-size: 16px;
	}

	.get-btn span{
		display: none;
	}

	.get-btn{
		width: 110px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
	}
	
}


/* 450 */
@media screen and (max-width:450px) {

	.small-banner-text{
		padding: 0 36px;
		margin: 5px 0 40px;
	}


	.terms-icon{
		margin-top: 30px;
	}

	.terms-text{
		font-size: 21px;
    line-height: 37px;
		margin-bottom: 45px;
	}

	.header-content{
		margin-top: 16px;
	}

	.eco-emoji{
		display: flex;
    flex-direction: column;
		right: 40px;
		font-size: 29px;
	}

	.seed-emoji-650{
		margin: 0;
    margin-bottom: 23px;
	}

	.intro-text-plh{
		width: 300px;
		margin: 70px auto 40px auto;
	}

	.moving-icon{
		top: 50px;
		height: 290px;
	}

	.app-preview{
		height: 497px;
    width: 324px;
    /* position: relative;
    right: 0;
    top: 17px; */
	}

	.small-banner-icon, .small-banner-icon-2{
		background-size: 28px;
	}

	

	
}


/* 414 */
@media screen and (max-width:415px) {


	.free{
		display: block;
	}

	.intro-text-plh{
    margin-bottom: 35px;
	}

	.small-banner{
		width: 47.5%;
	}
	
	.small-banner-text{
		padding: 0 30px;
		margin: 0px 0 37px;
		line-height: 30px;
    font-size: 15px;
	}

	.eco-text-plh{
		margin: 30px 0px 36px 38px;
	}

	.eco-1{
		font-size: 18px;
	}

	.eco-2{
		font-size: 13px;
    line-height: 26px;
    margin-top: 3px;
	}

	.eco-emoji{
		font-size: 28px;
	}

	.easy-intro{
		font-size: 21px;
	}

	.join-process{
		width: 173px;
	}

	.eco-motion{
		top: -226%;
		right: -141%;
	}

	.join-process{
		margin: 30px auto 30px auto;
	}

	.sell-with-us-plh{
		font-size: 16px;
		display: none;
	}

	/* .money-icon{
		background-size: 27px;
	} */

	.logo-text{
		font-size: 17px;
	}



	.terms-icon{
		margin-top: 20px;
	}

	.terms-icon{
		background-size: 39px !important;
	}

	.terms-text{
		font-size: 19px;
    line-height: 32px;
		margin-bottom: 40px;
	}

	.motion-plh{
		margin-top: 50px;
	}

	
}


/* 375 */
@media screen and (max-width:376px) {

	.easy-intro{
    font-size: 20px;
	}

	.eco-text-plh{
		width: 58%;
	}

	.main-content {
    padding: 16px;
    padding-bottom: 0;
		padding-top: 0;
}

.small-banners-row{
	margin: 18px 0 0 0;
}

.join-now-row{
	margin: 18px 0 0 0;
}

.header-content{
	max-width: calc(100% - 25px);
    min-width: calc(100% - 25px);
}

.small-banner-text{
	padding: 0 22px;

}

.pay-btn{
	left: -25%;
}

.centered-action{
	margin-top: 65px;
}
	
}


/* 375 */
@media screen and (max-width:350px) {

	.main-content{
		padding: 14px;
    padding-bottom: 0;
		padding-top: 0;
	}

	/* .intro-text-plh{
		margin-top: 39px;
    margin-bottom: 30px;
	} */

	.small-banners-row{
    margin: 16px 0 0 0;
	}

	.join-now-row{
		margin: 16px 0 0 0;
	}

	.footer{
		padding: 20px 0;
	}

	.get-app-btn-header{
		transform: scale(0.8);
    right: -8px;
    position: relative;
	}

	.centered-action{
		margin-top: 55px;
	}

	.header-android-icon{
		margin-left: 16px;
	}

	.intro-text-plh{
		width: 248px;
	}

	.moving-icon{
		top: 58px;
    height: 277px;
	}

	.app-preview{
		height: 430px;
    width: 276px;
	}

	.get-btn{
		width: 89px;
	}

	.small-banner-icon, .small-banner-icon-2{
		background-size: 26px;
	}

	.join-process{
		width: 158px;
	}

	.intro-text-plh{
		width: 238px;
	}

	.intro-text{
		font-size: 24px;
		line-height: 40px;
	}

	.intro-text-2{
		line-height: 28px;
    font-size: 15px;
	}
	
}






.active-pointer{
	cursor: pointer;
}

.active-pointer:active{
	opacity: 0.5;
}